# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/.local/bin:$HOME/bin

export PATH
export TMOUT=0

######################################################################################
###### GPDB Alias for COmmands #######################################################
######################################################################################
alias all='gpssh -f /home/gpadmin/gpconfigs/host_all'
alias seg='gpssh -f /home/gpadmin/gpconfigs/host_seg'
