MON_HOME=`dirname "${0}"`
. /home/gpadmin/.bash_profile
source /usr/local/greenplum-db/greenplum_path.sh
export MON_HOME

CLUSTER_NAME={{ hostvars[groups['gpdb-mdw'][0]].bd_hostname }}
HOST_NAME={{ segment_hostname_prefix }}
PGHOST={{ hostvars[groups['gpdb-mdw'][0]].bd_ip }}
PGDATABASE=`gpadmin`
PGUSER=`gpadmin`
HOSTFILE=/data/utilities/setup/hostfile_all
SEG_COUNT=`(cat ${HOSTFILE} |grep sdw |wc -l)`
DATE=`date +%Y%m%d`
DATE_TIME=`date '+%Y-%m-%d %H:%M:%S'`
