<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <property>
                <name>fs.defaultFS</name>
                <value>{{ x410_core_site_fs }}</value>
                <!--value>{{ x410_core_site_fs_tmp }}</value-->
        </property>

        <property>
                <name>io.file.buffer.size</name>
                <value>{{ core_site_io }}</value>
        </property>
</configuration>
