#!/bin/sh

scp /data/master/gpseg-1/pg_hba.conf smdw:/data/master/gpseg-1/pg_hba.conf
scp /data/master/gpseg-1/postgresql.conf smdw:/data/master/gpseg-1/postgresql.conf

############################### DASHBOARD LOG START ############################
DASHBOARD_LOGFILE=/home/gpadmin/utilities/dashboard/log/agent_jobs_status.log
DASHBOARD_JOBNAME='Configuration file Sync(smdw)'
DASHBOARD_LOGDATE=`date +%Y-%m-%d`
DASHBOARD_LOGTIME=`date "+%H:%M:%S"`
echo $DASHBOARD_JOBNAME"|"$DASHBOARD_LOGDATE"|"$DASHBOARD_LOGTIME >> $DASHBOARD_LOGFILE
############################### DASHBOARD LOG END ##############################
