127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

### mdw-master
{% for host in groups['gpdb-mdw'] %}
{{ hostvars[host].bd_ip }} {{ hostvars[host].bd_hostname }} {{ hostvars[host].bd_nodename }}
{% endfor %}

### mdw-standby
{% for host in groups['gpdb-smdw'] %}
{{ hostvars[host].bd_ip }} {{ hostvars[host].bd_hostname }} {{ hostvars[host].bd_nodename }}
{% endfor %}

### sdw
{% for host in groups['gpdb-sdw'] %}
{{ hostvars[host].bd_ip }} {{ hostvars[host].bd_hostname }} {{ hostvars[host].bd_nodename }}
{% endfor %}
