path = {{ gpcc_install_conf.path }}
# Set the display_name param to the string to display in the GPCC UI.
# The default is "gpcc"
display_name = {{ gpcc_install_conf.display_name }}
master_host = {{ gpcc_install_conf.master_host }}
master_port = {{ gpcc_install_conf.master_port }}
web_port = {{ gpcc_install_conf.web_port }}
rpc_port = {{ gpcc_install_conf.rpc_port }}
enable_ssl = {{ gpcc_install_conf.enable_ssl }}
# Uncomment and set the ssl_cert_file if you set enable_ssl to true.
# ssl_cert_file = /etc/certs/mycert
enable_kerberos = {{ gpcc_install_conf.enable_kerberos }}
# Uncomment and set the following parameters if you set enable_kerberos to true.
# webserver_url = <webserver_service_url>
# krb_mode = 1
# keytab = <path_to_keytab>
# krb_service_name = postgres
# User interface language: 1 = English, 2 = Chinese
language = {{ gpcc_install_conf.language }}
