<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <property>
        <name>fs.s3a.endpoint</name>
        <value>{{ s3_fs_s3a_endpoint }}</value>
    </property>
    <property>
        <name>fs.s3a.access.key</name>
        <value>{{ s3_fs_s3a_access_key }}</value>
    </property>
    <property>
        <name>fs.s3a.secret.key</name>
        <value>{{ s3_fs_s3a_secret_key }}</value>
    </property>
    <property>
        <name>fs.s3a.fast.upload</name>
        <value>{{ s3_fs_s3a_fast_upload }}</value>
    </property>
</configuration>
