GPMDW={{ groups['gpdb-mdw'][0] }}
GPSMDW={{ groups['gpdb-smdw'][0] }}
ARPING_INTERFACE={{ bd_vip_arping_interface }}
VIP_INTERFACE={{ bd_vip_interface }}
VIP={{ bd_vip }}
VIP_GW={{ bd_vip_gateway }}
VIP_NETMASK={{ bd_vip_netmask }}
